# aws
AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXX
AWS_DEFAULT_REGION=XXXXXXXXXXXX

# terraform
TF_VAR_aws_vpc=vpc-XXXXXXXXXXXX
TF_VAR_aws_subnet=subnet-XXXXXXX
TF_VAR_rnombre=example
TF_VAR_url=https://example.com
TF_VAR_rtag=example
TF_VAR_rtoken=XXXXXXXXXXXXXXXXXXXXXX
TF_VAR_ubuntupass=example
TF_VAR_gitlabpass=example
TF_VAR_nombreinstancia=example
TF_VAR_nombregruposeguridad=example
TF_VAR_instancetype=example
TF_VAR_pemname=example
TF_VAR_diskspace=50
TF_VAR_s3name=example
